
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    /*იმისათვის რომ CSS დეფოლთად გაყოლილი ყველა სტილი გავთიშოთ*/
}

body {
    background-color: #F5F5F7;
    overflow-x: hidden;
}

/*header*/

header {
    padding: 0px 0 19px 0;
}

.container {
    max-width: 1138px;
    margin: auto;
    width: 100%;
    margin: auto;
    padding: 0 16px;
    /*ჰედერი ნებისმიერ გაფართოებაზე დარჩება ცენტრში*/
}

.header-name {
    color: #5B47D1;
    background: #F0EDFF;
    padding: 11px 19px 10px 23px;
    margin-top: 11px;
    font-size: 24px;
    font-weight: 700;
}

.inline-element {
    display: inline-block;
    /*იმისათვის რომ ყველა ბლოკური ელემენტი გახდეს ინლაინ*/
}

.nav li {
    font-size: 24px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 100%;
    letter-spacing: 0;

    /*ნავიგაციის ბმულებს შორის დაშორება*/
}

.nav {
    margin-left: 73px;
    /*ნავიგაციის დასაწყისსა და ჰედერ ნეიმს შორის სივრცე*/
}

.nav a {
    text-decoration: none;
    color: #000000;
}
.nav a:hover {
    color: #5B47D1;
}

/*hero section*/
.hero {
    background-image: url("./assets/background-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*ეს ყველაფერი იმისთის რომ ბექგრაუნდი იყოს ცენტრში და არ მეორდებოდეს*/
    height: 400px;
    margin-bottom: 45px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: 0;
    padding-top: 131px;
}

.hero p {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
    padding-top: 37px;
}

.hero h1,
.hero p {
    width: 100%;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}


/*main sections-articles*/

.article-section-title h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    width: 100%;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 49px;
}

.article-container {
    width: 100%;
    width: 350px;
    height: 450px;
    display: inline-block;
    margin: 0 20px 20px 0;
    background: #FFFFFF;
    vertical-align: top;
}

.article-content {
    padding: 15px 19px 17px 19px;
}

.read-more{
    font-size: 9px;
    color: black;
}

.read-more a:hover {
    color: #5B47D1;
}

img {
    width: 100%;
    height: 240px;
}

.spans {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;

}

.span-1 {
    margin-right: 28px;
    /*შესაძლებელია ფლექსითაც გაკეთებულიყო, მაგრამ რადგან ინლაიზე ვართ, ასე ვაკეთებთ*/
}

.article-content p {
    width: 296px;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    margin-top: 6px;
}

.article-content h3 {
    width: 300px;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
}

/*footer*/


footer {
    background-color: #252424;
    padding-top: 54px;
    width: 100%;
    margin-top: 131px;
}

.additional-info {
    width: 1240px;
    margin: 0 auto;
    /* ჰორიზონტალურად გაცენტრავს */
    font-size: 0;
    /* უზრუნველყოფს ინლაინებს შორის დაშორების ფიქსაციას*/
    text-align: center;
}

.left-side,
.categories {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #A1A1A6;
    text-align: left;
}


.left-side {
    width: 400px;
}

/*  ელემენტები ვერტიკალურად */
.techblog-info,
.contact {
    display: block;
    margin-bottom: 34px;
    color: #A1A1A6;
}

.categories {
    width: 400px;
}


.additional-info h3 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 700;
}

.categories-list {
    list-style: none;
    padding: 0;
}

.categories-list li {
    margin-bottom: 11px;
}

.categories-list a {
    text-decoration: none;
    color: #A1A1A6;
    transition: 0.3s;
}

.categories-list a:hover {
    color: #ffffff;
}

.contact a,
.contact p {
    display: block;
    color: #A1A1A6;
    text-decoration: none;
    margin-bottom: 11px;
    line-height: 100%;

}

.techblog-info span {
    display: block;
    max-width: 296px;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 14px;
    font-weight: 400;
}

/*footer bottom line*/
.footer-bottom {
    height: 55px;
    background-color: #020202;
    text-align: center;
}

.footer-bottom p {
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
    color: #86868B;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .additional-info {
        width: 95%;
        text-align: center;
    }

    .left-side,
    .categories {
        display: block;
        width: 100%;
    }
}